body {
    background-position: right;
    background-color: rgb(198, 188, 188);
    background-image: url(bison_me.jpeg);
    background-size: 60%;
    background-repeat: no-repeat;;

}

p {
    background-color: rgb(221, 136, 136);
    color: white;
    font-family: arial
    font-size: 19pt;
}

p.orange
{
    color: white;
    background-color: rgb(232, 166, 99);
}

h1.bison{
  font-family:Courier;;
}

a
{
    /*background-color: rgb(197, 110, 121);*/
    color: white;
}

a:hover
{
    /*background-color: rgb(198, 97, 97);*/
    color: black
}
